.container
    .row
        .page-header
            //- h1= title
            //- small www.happygrep.com
            h4
                //-|<a href="/"><img src="/_images/logo_my/my.png" style="width:119.7px; height:116.2px;"></img>&nbsp;<strong>MY 休闲游戏展示馆</strong></a>&nbsp;&nbsp;
                |<a href="/"><img src="/_images/logo_my/my.png" style="width:119.7px; height:116.2px;"></img></a>&nbsp;<strong>ahalinux <span class="label label-primary" style="font-size: 20px">'s</span> 休闲游戏馆</strong>&nbsp;&nbsp;
                small <em>#{webtitle}</em>
            <hr width="100%" color="#98683a" size="50" noshade="noshade" />