.container
    .row
        .page-header
            h2.text-center
                a(href="/")
                    img(src="/_images/logo_my/my.png" style="width:119.7px; height:116.2px;")
                strong
                    | ahalinux &nbsp;
                    span.label.label-primary(style="font-size: 20px")
                        | 's 
                    | &nbsp; 休闲游戏馆
                    small
                        em &nbsp; #{webtitle}