.container
    .row
        .page-header
            //- h1= title
            //- small www.happygrep.com
            h4
                |<strong>HAPPYGREP</strong>&nbsp;&nbsp;
                small <em>#{title}</em>