# Example #
# /[Tt]emp/
# /Assets/AssetStoreTools*
# /.vs/
# .consulo/
# *.csproj
# *.pidb.meta
# sysinfo.txt


# this Project #
/node_modules/
/node-v*
/__otherfiles*
/bower_components/
/public/libs/
/public/_images/

gruntfile.js
bower.json
.bowerrc